.details-page{
    .blob-outer-container{
        position: fixed;
        height: 100%;
        width: 100%;
        z-index: 1;
        inset: 0;
        margin: auto;
        filter:  blur(100px);
        opacity: 0.5;
        pointer-events: none;
    
        .blob-inner-container{
            border-radius: 99999px;
            position:absolute;
            inset:0;
            margin: 0;
            width: 100vw;
            height: 100vh;
            min-width: 1000px;
            overflow:hidden;
            background: #fff;
            transform: scale(0.9);
    
            .blob {
                position: absolute;
                width: 100vw;
                height: 100vh;
                inset: 0;
                margin: auto;
                background: conic-gradient(from 0deg, #059212, #06D001, #9BEC00, #F3FF90);
                animation: spinBlob 8s linear infinite;
            }
        }
    }
    .item {     
        border: 2px solid white;
        border-radius: 15px;
        display: flex;
        justify-content: center;  /* по горизонталі */
        align-items: center;      /* по вертикалі */
        text-align: center;
        background: rgba(225, 255, 0, 0.9); //rgba(225, 255, 0, 0.9)
        border: 1px solid rgba(225, 255, 0, 0.9);
        flex-direction: row;
        

        h2{
            padding-bottom: 10px;
        }
        .z-index-2{
            z-index: 2;
        }
    }
    .div3 { 
            position: fixed;
            top: 50%;
            transform: translateY(-50%);
            display: flex;
            flex-direction: column;
            z-index: 20;

            width: 93px;         
            height: 347px;

            padding: 15px 0;    
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
            border-top-right-radius: 150px;
            border-bottom-right-radius: 150px;
            .circle-button {
                width: 50px;
                height: 50px;
                background-color: rgba(98, 179, 0, 0.9);
                backdrop-filter: blur(10px);
                border: 2px solid rgba(255, 255, 255, 0.6); 
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                transition: transform 0.2s ease, background-color 0.3s ease;
                color: black;
                font-size: 28px;
                margin-bottom: 5px;
            }
              
            .circle-button:hover {
                transform: scale(1.1);
                background-color: rgba(255, 255, 255, 0.5);
            }
            .red{
                background-color: rgb(241, 52, 52);
            }
            .red:hover {
                transform: scale(1.1);
                background-color: rgb(250, 10, 10);
            }
        }
    .top-part{
        display: flex;
        flex-direction: row;
        min-height: 500px;
        margin-right: 20px;

        justify-content: space-between;     // центрування по горизонталі
        align-items: center;         // центрування по вертикалі
        height: 100vh;               // займає весь екран
        padding-left: 120px;         // відступ зліва під меню
        gap: 40px;                   // відстань між картинкою і контентом
        box-sizing: border-box;
        .image{
            // background: rgba(225, 255, 0, 0.9);
            // border-radius: 15px;
            // border: 1px solid rgba(225, 255, 0, 0.9);
            // margin: 40px 100px;
            
            // width: 40%;
            // margin: 40px 100px;

            height: 500px; // або будь-яка висота, яку хочеш
            border-radius: 15px;
            overflow: hidden;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgba(225, 255, 0, 0.9);
            border: 1px solid rgba(225, 255, 0, 0.9);
            flex: 0 0 40%;
            // height: 730px; // фіксована висота
            // object-fit: cover;
            // display: block;
            z-index: 10;
            overflow: hidden;
            position: relative;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                display: block;
                border-radius: 15px;
            }
        }
        .info{
            flex: 0 0 50%;
            display: flex;
            flex-direction: column;
            row-gap: 5px;
            width: 60%;
            .header{
                background: rgba(225, 255, 0, 0.9);
                border-radius: 15px;
                border: 1px solid rgba(225, 255, 0, 0.9);
                align-self: flex-end;
                padding: 16px 18px;
                margin-right: 30px;
                .city{
                    position: relative;
                    z-index: 5;          
                    font-size: 18px;
                    font-weight: 600;
                    background: rgba(255, 255, 255, 0.25);
                    padding: 8px 14px;
                    border-radius: 12px;
                    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
                    justify-self: flex-end;
                    z-index: 10px;
                }
            }
            .card-info{
                margin: 40px 30px;
                background: rgba(225, 255, 0, 0.9);
                border-radius: 15px;
                border: 1px solid rgba(225, 255, 0, 0.9);
                min-height: 300px;
                display: flex;
                justify-content: center;
                flex-direction: column;
                padding: 30px 50px;
                position: relative;
                .favourite-icon {
                    position: absolute;
                    top: 25px;
                    right: 35px;
                    font-size: 24px;
                    z-index: 10;
                    transition: transform 0.2s ease;

                    &:hover {
                        transform: scale(1.2);
                    }
                }
                h1{
                    text-align: center;
                    position: relative;
                    z-index: 4;
                    align-items: center;
                    padding-bottom: 5px;
                }
                .tags-mark{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    margin: 20px 0;
                    width: 100%;
                    .tags{
                        width: 50%;
                        display: flex;
                        flex-wrap: wrap;
                        gap: 6px;
                        display: flex;
                        align-items: baseline;

                        .tag{
                            position: relative;
                            z-index: 5;    
                            background-color: #9eda82;
                            padding: 4px 8px;
                            border-radius: 8px;
                            font-size: 14px;
                            font-weight: 500;
                            color: #333;
                            border: 1px solid #06D001; //#b5ec9c;
                            span{
                                position: relative;
                                z-index: 7;    
                            }
                          
                        }
                    }
                    .rating{
                        display: flex;
                        align-items: center;
                        gap: 5px;
                        position: relative;
                        z-index: 5;    
                        .star {
                            cursor: pointer;
                            transition: transform 0.2s ease;
                            &:hover {
                            transform: scale(1.2);
                            }
                        }
                    }
                }
                .address{
                    position: relative;
                    z-index: 5;    

                }
                .short{
                    position: relative;
                    z-index: 5;    
                    text-align: center;
                }
            }

        }
    }
    .deep-info{
        margin-right: 50px;
        margin-left: 120px;
        margin-bottom: 50px;
        padding: 30px 50px;
        background: rgba(225, 255, 0, 0.9);
        border-radius: 15px;
        border: 1px solid rgba(225, 255, 0, 0.9);
        display: flex;
        flex-direction: column;
        h3{
            position: relative;
            z-index: 5;    
            text-align: center;
            font-size: 22px;
        }
        p{
            position: relative;
            z-index: 5;    
            padding-top: 15px;
            text-align: center;
        }
        .comments-section {
            // background-color: rgba(255, 255, 255, 0.6);
            padding: 20px 30px;
            border-radius: 12px;
            // margin: 40px 100px;

            h3 {
                font-size: 22px;
                margin-bottom: 20px;
                position: relative;
                z-index: 5;    
            }
            .add-comment {
                margin-top: 20px;
                margin-bottom: 20px;
                display: flex;
                flex-direction: column;
                gap: 10px;
                position: relative;
                z-index: 5;    

                textarea {
                    padding: 10px;
                    font-size: 14px;
                    resize: vertical;
                    border-radius: 8px;
                    border: 1px solid #ccc;
                }

                button {
                    align-self: flex-start;
                    padding: 6px 18px;
                    border: none;
                    background-color: #ffd700;
                    border-radius: 6px;
                    font-weight: bold;
                    cursor: pointer;

                    &:hover {
                        background-color: #f1c40f;
                    }
                }
            }
            .comment {
                margin-bottom: 20px;
                background: rgba(255, 255, 255, 0.3);
                box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
                padding: 12px;
                border-radius: 8px;
                p {
                    margin: 0;
                    position: relative;
                    z-index: 5;   
                    text-align: left;
                }

                strong {
                    position: relative;
                    z-index: 5;   
                }
            }
        }
        .similar-places-section {
            margin: 40px 120px;
            .section-title {
                font-size: 24px;
                font-weight: bold;
                margin-bottom: 20px;
                z-index: 3;
                position: relative;
            }

            .carousel {
                display: flex;
                gap: 20px;
                overflow-x: auto;
                padding-bottom: 10px;
                // // приховати стандартні scroll bar (опціонально)
                // scrollbar-width: none;
                // &::-webkit-scrollbar {
                // display: none;
                // }
            }

            .similar-card {
                flex: 0 0 420px;
                display: flex;
                flex-direction: row;
                background: rgba(225, 255, 0, 0.9);
                border: 1px solid rgba(225, 255, 0, 0.9);
                border-radius: 15px;
                text-decoration: none;
                color: black;
                transition: transform 0.2s ease, box-shadow 0.3s ease;

                &:hover {
                    transform: scale(1.02);
                    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
                    position: relative;
                    z-index: 5;   
                }

                .image {
                    width: 40%;
                    position: relative;
                    z-index: 5;   
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-top-left-radius: 15px;
                        border-bottom-left-radius: 15px;
                    }
                }

                .content {
                    width: 60%;
                    padding: 16px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    h3 {
                        margin-bottom: 8px;
                        font-size: 18px;
                    }

                    p {
                        font-size: 15px;
                    }
                }
            }
        }

    }
}